.about {
  margin: 20vh 0;
}

.about-title {
  font-size: 3.5vw;
  margin-left: 10vw;
}

.about-grid {
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 36vw 36vw;
  grid-template-rows: 90vh;
  column-gap: 7vw;
}

.about-column-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-line {
  height: 1px;
  width: auto;
  background-color: #808080;
  margin: 6vh 0;
}

.about-info {
  font-size: 1.4vw;
  text-align: justify;
  line-height: 35px;
}

.about-column-two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  overflow: hidden;
  margin-top: 6vh;
}

.about-column-two img {
  height: 125vh;
  transform: translate(-35%, -32%);
}
