.about {
  margin: 90px 0;
}

.about-title {
  font-size: 4rem;
  margin-left: 190px;
}

.about-grid {
  padding: 0 190px;
  display: grid;
  grid-template-columns: 650px auto;
  grid-template-rows: 800px;
  column-gap: 140px;
}

.about-column-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-line {
  height: 1px;
  width: auto;
  background-color: #808080;
  margin: 50px 0;
}

.about-info {
  font-size: 1.7rem;
  text-align: justify;
}

.about-column-two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  overflow: hidden;
  margin-top: 50px;
}

.about-column-two img {
  height: 1200px;
  transform: translate(-35%, -32%);
}
