.about {
  padding: 20vh 0;
  width: 100vw;
}

.about-title {
  margin-bottom: -5vh;
  opacity: 0;
  transform: translateY(-15%);
}

.about-grid {
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 36vw 36vw;
  grid-template-rows: auto;
  column-gap: 7vw;
}

.about-column-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-line {
  height: 1px;
  width: auto;
  background-color: #808080;
  margin: 6vh 0;
}

.about-info {
  font-size: 1.3vw;
  text-align: justify;
  opacity: 0;
  transform: translateY(-10%);
}

.about-column-two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  overflow: hidden;
  margin-top: 6vh;

  background-image: url("../../images/IMG_4292.JPG");
  background-size: cover;
  background-position: -180px center;
}
