html,
body {
  margin: 0;
}

.line {
  height: 1px;
  width: 13rem;
  background-color: #808080;
}

.intro-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 49rem;
  height: 90rem;
  overflow: hidden;
}

.intro-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-options {
  left: 7rem;
  align-items: flex-start;
}

.right-options {
  right: 7rem;
  align-items: flex-end;
}

.options {
  position: absolute;
  top: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 4rem;
}

.white {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 8rem;
  width: 24.5rem;
  background-color: white;
  z-index: 1;
}

.white-one {
  top: 8rem;
  left: 60.4%;
}

.white-two {
  top: 87%;
  left: 39.6%;
}

.intro-word-design {
  color: white;
  font-size: 7.5rem;
  letter-spacing: 17.7px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.sections {
  position: absolute;
  top: 125%;
}
