html,
body {
  margin: 0;
  overflow-x: hidden;
}

.line {
  height: 1px;
  width: 11vw;
  background-color: #808080;
}

.intro-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 41vw;
  height: 90vh;
  overflow: hidden;
}

.intro-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200%;
  height: auto;
}

.left-options {
  left: 6vw;
  align-items: flex-start;
}

.right-options {
  right: 6vw;
  align-items: flex-end;
}

.options {
  position: absolute;
  top: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 3.5vw;
}

.white {
  position: absolute;
  height: 13vh;
  width: 20vw;
  background-color: white;
  z-index: 1;
}

.white-one {
  top: 7%;
  right: 29%;
}

.white-two {
  top: 80vh;
  left: 29%;
}

.intro-word-design {
  color: white;
  font-size: 6.2vw;
  letter-spacing: 1.2vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.sections {
  position: absolute;
  top: 125%;
}
