.project {
  background-color: #fff5e8;
  padding-top: 17vh;
  padding-bottom: 14vh;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 18vw;
}

.project-entry {
  display: flex;
  flex-direction: column;
}

.project-entry-date {
  color: #9d9696;
  margin-right: 1vw;
  font-size: 0.9vw;
}

.project-info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.project-desc {
  text-align: justify;
  font-size: 0.9vw;
}

.project-skills {
  text-align: center;
  align-self: baseline;
  color: white;
  background-color: #917272;
  width: 2.5vw;
  padding: 0 0.27vw;
  font-size: 0.9vw;
}

.project-pic {
  height: 22vh;
  background-color: rgb(158, 156, 151);
  margin: 1.4vh 0;
}

.project-name-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.8vw;
}

.project-entry-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15vh;
}

.project-name {
  color: #9d9696;
  font-size: 2vw;
  margin-bottom: 1.4vh;
  margin-top: 3.3vh;
}

.project-line {
  width: 2px;
  height: 100%;
  background-color: #808080;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  margin-left: 24vw;
}

.project-entry-dressi {
  margin-left: 34vw;
}

.project-entry-shopple {
  margin-left: 34vw;
}
