.project {
  background-color: #fff5e8;
  padding-top: 180px;
  padding-bottom: 50px;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 22rem;
}

.project-entry {
  display: flex;
  flex-direction: column;
}

.project-entry-date {
  color: #9d9696;
  margin-right: 4rem;
}

.project-info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.project-desc {
  text-align: justify;
}

.project-skills {
  text-align: center;
  align-self: baseline;
  color: white;
  background-color: #917272;
  width: 2.5rem;
  padding-left: 3px;
  padding-right: 3px;
}

.project-pic {
  height: 15rem;
  background-color: rgb(158, 156, 151);
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.project-name-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.project-entry-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8rem;
}

.project-name {
  color: #9d9696;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}

.project-line {
  width: 2px;
  height: 100%;
  background-color: #808080;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 35rem;
}

.project-entry-dressi {
  margin-left: 30rem;
}

.project-entry-shopple {
  margin-left: 30rem;
}
