.work {
  background-color: #0f0e0e;
  padding-top: 180px;
}
.work-sub-section {
  margin-left: 38rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
}

.work-title {
  color: #dbdbdb;
  text-align: right;
  font-size: 4rem;
  margin-right: 190px;
}

.work-line {
  width: 1px;
  height: 55rem;
  background-color: #808080;
  margin-left: 2rem;
}

.work-container {
  display: flex;
  flex-direction: column;
}

.work-entry {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-bottom: 11rem;
}

.work-entry-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-entry-title-job {
  color: #8c884e;
  font-size: 1.5rem;
  margin-left: 5rem;
}

.skill {
  text-align: center;
  align-self: baseline;
  color: white;
  background-color: #8c884e;
  width: 2.5rem;
}

.work-entry-company {
  color: #e1e1e1;
  text-align: right;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.work-entry-company-one45 {
  font-size: 4.71rem;
}

.work-entry-company-ubc {
  font-size: 1.85rem;
}

.work-entry-descript {
  text-align: justify;
  color: #7d7878;
}

.work-date {
  color: #9d9696;
  margin-bottom: 27.25rem;
}

.date-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
