.work {
  background-color: #0f0e0e;
  padding-top: 17vh;
  width: 100vw;
}
.work-sub-section {
  margin-left: 32vw;
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
}

.work-title {
  color: #dbdbdb;
  text-align: right;
  font-size: 3.5vw;
  margin-right: 10vw;
}

.work-line {
  width: 1px;
  height: 135vh;
  background-color: #808080;
  margin-left: 1.7vw;
}

.work-container {
  display: flex;
  flex-direction: column;
}

.work-entry {
  display: flex;
  flex-direction: column;
  width: 33.5vw;
  margin-bottom: 23vh;
}

.work-entry-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-entry-title-job {
  color: #8c884e;
  font-size: 1.2vw;
  margin-left: 4vw;
}

.skill {
  text-align: center;
  align-self: baseline;
  color: white;
  background-color: #8c884e;
  width: 2.3vw;
  font-size: 0.9vw;
}

.work-entry-company {
  color: #e1e1e1;
  text-align: right;
  margin: 1.2vh 0;
}

.work-entry-company-one45 {
  font-size: 3.94vw;
}

.work-entry-company-ubc {
  font-size: 1.55vw;
}

.work-entry-descript {
  text-align: justify;
  color: #7d7878;
  font-size: 0.9vw;
}

.work-date {
  color: #9d9696;
  margin-bottom: 83vh;
}

.date-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.7vw;
  font-size: 0.9vw;
}
