.work {
  background-color: #0f0e0e;
  padding-top: 17vh;
  width: 100vw;
}
.work-sub-section {
  margin-left: 32vw;
  margin-top: 15vh;
  padding-bottom: 18vh;

  display: grid;
  grid-template-columns: 34vw 4vw auto;
  grid-template-rows: auto auto;
}

.work-title {
  color: #ffffff;
}

.work-line {
  width: 1px;
  height: 100%;
  background-color: #808080;
  margin-left: 1.7vw;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work-container {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work-entry {
  display: flex;
  flex-direction: column;
  width: 33.5vw;
  margin-bottom: 23vh;
  opacity: 0;
  transform: translateY(-20%);
}

.work-entry:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.work-entry:nth-of-type(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.work-entry-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-entry-title-job {
  color: #8c884e;
  font-size: 1.2vw;
  margin-left: 4vw;
}

.skill {
  text-align: center;
  align-self: baseline;
  color: white;
  background-color: #8c884e;
  width: 2.3vw;
  font-size: 0.9vw;
}

.work-entry-company {
  color: #ffffff;
  text-align: right;
  margin: 1.2vh 0;
}

.work-entry-company-one45 {
  font-size: 3.94vw;
}

.work-entry-company-ubc {
  font-size: 1.55vw;
}

.work-entry-descript {
  text-align: justify;
  color: #ffffff;
  font-size: 0.9vw;
}

.work-date {
  color: #9d9696;
  font-size: 0.9vw;
}

.work-date:nth-of-type(1) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.work-date:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
