html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  position: absolute;
  overflow: hidden;
}

.line {
  position: absolute;
  height: 500vh;
  width: 0.4vw;
  left: 50%;
  top: 124%;
  background-color: rgb(36, 34, 35);
}

.app-bar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: rgb(0, 0, 0);
  width: 100vw;
  background-color: white;
  top: 0;
  z-index: 1;
}

.hamburger {
  font-size: 1.5rem;
  margin-left: 2vw;
}

.bar-signature {
  display: block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.section-indicator {
  margin-right: 4vw;
  position: relative;
}

.bar {
  height: 0.125rem;
  width: 15rem;
  background-color: gray;
}

.circle-indicator {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  background-color: gray;
  border-radius: 50%;
}

.circle-indicator:nth-child(2) {
  top: -0.34rem;
  left: 0rem;
}

.circle-indicator:nth-child(3) {
  top: -0.34rem;
  left: 3.75rem;
}

.circle-indicator:nth-child(4) {
  top: -0.34rem;
  left: 7.5rem;
}

.circle-indicator:nth-child(5) {
  top: -0.34rem;
  left: 11.25rem;
}

.circle-indicator:nth-child(6) {
  top: -0.34rem;
  left: 15rem;
}

.section-intro {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
}

.section-intro-column {
  display: flex;
  flex-direction: column;
}

.section-intro-column:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.section-intro-column:nth-child(2) {
  padding-top: 8vh;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.intro-header {
  font-size: 5rem;
  margin-left: 2vw;
}

.underline {
  height: 0.2vh;
  width: 7vw;
  background-color: #808080;
  margin-top: -4vh;
  margin-left: 2vw;
}

.about-me {
  margin-top: 4vh;
  font-size: 1.3rem;
  text-align: justify;
  padding-right: 20vw;
  margin-left: 2vw;
}

.grey-square {
  background-color: #c8c8c8;
  height: 26rem;
  width: 26rem;
  position: absolute;
  top: 16%;
  left: 25%;
}

.brown-square {
  background-color: #9d9696;
  height: 26rem;
  width: 26rem;
  position: absolute;
  top: 41%;
  left: 47%;
}

.p-pic {
  height: 26rem;
  width: 26rem;
  position: absolute;
  top: 28%;
  left: 36%;
  background-image: url("../images/p_pic.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 50% 60%;
}

.intro-graphic {
  position: relative;
}

.scroll-div {
  margin-top: 9.5rem;
  text-align: center;
  opacity: 1;
  animation: scroll-pulse 3s ease-in-out infinite;
  -webkit-animation: scroll-pulse 3s ease-in-out infinite;
}

.scroll-indicator {
  font-size: 1.3rem;
  color: rgba(104, 104, 104, 0.76);
}

@keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

.timeline {
  height: 0.2vh;
  width: 240vw;
  background-color: #808080;
  margin-top: -4vh;
  margin-left: 2vw;
  position: absolute;
  top: 50%;
  left: 1.7%;
}

.section-work {
  position: relative;
  width: 150vw;
  overflow-x: auto;
  height: 100%;
}

.work-header {
  font-size: 5rem;
  position: absolute;
  left: 3%;
}

.work-timeline {
  display: flex;
  flex-direction: row;
}

.work-column {
  display: flex;
  flex-direction: column;
  width: 45vw;
  text-align: justify;
}

.column-header {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}

.company-logo {
  height: 5.5vh;
  margin-left: 8vw;
}

.description {
  font-size: 1.02vw;
}

.experience-header {
  font-size: 2.2vw;
}

.one45-section {
  position: absolute;
  top: 35%;
  left: 3%;
}

.ta-section {
  position: absolute;
  top: 30%;
  left: 70%;
}

.underline-work {
  height: 0.2vh;
  width: 10vw;
  background-color: #808080;
  margin-top: -4vh;
  margin-left: 2vw;
  position: absolute;
  top: 20%;
  left: 2%;
}

.time-indicator {
  width: 0.1vw;
  height: 2vh;
  background-color: #808080;
}

.first-exp {
  position: absolute;
  top: 44%;
  left: 40%;
}

.second-exp {
  position: absolute;
  top: 46%;
  left: 110%;
}

.first-time-exp {
  position: absolute;
  top: 40%;
  left: 38.5%;
}

.second-time-exp {
  position: absolute;
  top: 50%;
  left: 108.5%;
  width: 10vw;
}

.php {
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.06);
}
.js {
  font-size: 6vw;
  color: rgba(0, 0, 0, 0.06);
}
.html {
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.06);
}
.sql {
  font-size: 4vw;
  color: rgba(0, 0, 0, 0.06);
}
.css {
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.06);
}
.jq {
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.06);
}
.r {
  font-size: 5vw;
  color: rgba(0, 0, 0, 0.06);
}
.java {
  font-size: 8vw;
  color: rgba(0, 0, 0, 0.06);
}
.node {
  font-size: 4vw;
  color: rgba(0, 0, 0, 0.06);
}
.exp {
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.06);
}
.ccc {
  font-size: 9vw;
  color: rgba(0, 0, 0, 0.06);
}

.mdb {
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.06);
}
