.light {
  font-family: "Roboto", "Serif";
  font-weight: 300;
}

.regular {
  font-family: "Roboto", "Serif";
  font-weight: 400;
}

.black {
  font-family: "Roboto", "Serif";
  font-weight: 800;
}

.noto-regular {
  font-family: "Noto Serif", "Serif";
}

.oswald-medium {
  font-family: "Oswald", sans-serif;
}
