html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(45, 57, 64);
}

.line {
  width: 1px;
  height: 70rem;
  position: absolute;
  background-color: rgb(198, 113, 113);
  transform: rotate(-25deg);
  z-index: 0;
}

.line:nth-child(1) {
  top: 10%;
  left: 13%;
}

.line:nth-child(2) {
  top: -5%;
  left: 30%;
}

.line:nth-child(3) {
  top: -2%;
  left: 37%;
}

.line:nth-child(4) {
  top: 0%;
  left: 43%;
}

.line:nth-child(5) {
  top: 1%;
  left: 60%;
}

.line:nth-child(6) {
  top: -2%;
  left: 67%;
}

.line:nth-child(7) {
  top: -2%;
  left: 80%;
}

.line:nth-child(8) {
  top: -3%;
  left: 89%;
}

.line:nth-child(9) {
  top: -4%;
  left: 75%;
}

.background-wipe {
  height: 38rem;
  width: 80rem;
  z-index: 2;
  position: absolute;
  top: 8%;
  left: 10%;
  background-color: rgb(45, 57, 64);
  animation: swipe-right 1.4s ease-in-out 0.7s both;
  -webkit-animation: swipe-right 1.4s ease-in-out 0.7s both;
}

.foreground-wipe {
  height: 38rem;
  width: 60rem;
  z-index: 4;
  position: absolute;
  top: 20%;
  left: 38.3%;
  background-color: rgb(45, 57, 64);
  animation: swipe-left 1.4s ease-in-out both;
  -webkit-animation: swipe-left 1.4s ease-in-out both;
}

@keyframes swipe-left {
  0% {
    width: 60rem;
  }
  100% {
    width: 0rem;
  }
}

@-webkit-keyframes swipe-left {
  0% {
    width: 60rem;
  }
  100% {
    width: 0rem;
  }
}

@keyframes swipe-right {
  0% {
    left: 10%;
  }
  100% {
    left: 48.4%;
    width: 0rem;
  }
}

@-webkit-keyframes swipe-right {
  0% {
    left: 10%;
  }
  100% {
    left: 48.4%;
    width: 0rem;
  }
}

.app-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: rgba(255, 255, 255, 54);
}

.hamburger {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.bar-signature {
  margin-left: 53.1rem;
}

.intro-background-img {
  position: relative;
  height: 100vh;
  width: auto;
  background-image: url("../images/p_pic_cropped.jpg");
  background-repeat: no-repeat;
  background-position: 20rem 6rem;
  background-size: 38rem;
  z-index: 1;
}

.intro-div {
  position: relative;
  background-color: rgba(206, 162, 123, 0.93);
  width: 50rem;
  text-align: justify;
  margin-right: auto;
  margin-left: 46rem;
  padding: 0.4rem 2.5rem;
  opacity: 1;
  top: 23%;
  color: white;
  z-index: 3;
}

.intro-background-div {
  height: 100vh;
  background-color: rgb(23, 23, 23);
  animation: background-colour-change 5s infinite;
  -webkit-animation: background-colour-change 5s infinite;
}

.light {
  font-family: "Roboto", "Serif";
  font-weight: 300;
}

.regular {
  font-family: "Roboto", "Serif";
  font-weight: 400;
}

.intro-header1 {
  font-size: 3.8rem;
}

.intro-paragraph {
  font-size: 1.8rem;
}

.scroll-div {
  margin-top: 18rem;
  text-align: center;
  opacity: 1;
  animation: scroll-pulse 3s ease-in-out infinite;
  -webkit-animation: scroll-pulse 3s ease-in-out infinite;
}

.scroll-indicator {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.76);
}

@keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

.select-background-div {
  height: 100vh;
  background-color: rgb(45, 57, 64);
}

@keyframes background-colour-change {
  0% {
    background-color: hsl(0, 8%, 85%);
  }
  50% {
    background-color: hsl(170, 8%, 85%);
  }
  100% {
    background-color: hsl(350, 8%, 85%);
  }
}

@-webkit-keyframes background-colour-change {
  0% {
    background-color: hsl(0, 8%, 85%);
  }
  50% {
    background-color: hsl(170, 8%, 85%);
  }
  100% {
    background-color: hsl(350, 8%, 85%);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animated-delay {
  animation-delay: 1.78s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.78s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.grow-container {
  opacity: 0;
  display: table;
  width: 92%;
  height: 95%;
  padding-top: 0.6rem;
  margin-left: auto;
  margin-right: auto;
}
.grow {
  display: table-cell;
  height: 100%;
  width: 25%;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  transition: width 500ms;
}
.grow-container:hover .grow {
  width: 20%;
}
.grow-container:hover .grow:hover {
  width: 40%;
}

.coding-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/coding-landing.png");
  background-repeat: no-repeat;
  background-size: 68rem;
  background-position: -7rem -7rem;
}

.cooking-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/food-landing.jpg");
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: -7rem -7rem;
}

.lifestyle-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/lifestyle-landing.jpg");
  background-repeat: no-repeat;
  background-size: 90rem;
  background-position: -21rem -12rem;
}
