html,
body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(236, 236, 236);
  cursor: none;
}

.cursor-dot {
  position: fixed;
  pointer-events: none;
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: black;
}

.cursor-ring {
  position: fixed;
  pointer-events: none;
  width: 35px;
  height: 35px;
  left: -18.8px;
  top: -18.8px;
  border-radius: 50%;
  z-index: 12000;
  border-style: solid;
  border-color: rgb(151, 151, 151);
  border-width: 1px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15vh;
  padding: 0 17vw;
  font-size: 2vw;
  height: 100vh;
}

.intro-name {
  font-size: 4vw;
}

.intro-name-pron {
  font-size: 1.5vw;
  font-style: italic;
}

.intro-blurb {
  margin-top: 4vh;
  text-align: justify;
}
