html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app-bar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.hamburger {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.bar-signature {
  margin-left: 53.1rem;
}

.intro-background-img {
  margin-top: 4rem;
  height: 100vh;
  width: auto;
  background-image: url("../images/p_pic_cropped.jpg");
  background-repeat: no-repeat;
  background-position: 22rem -2rem;
  background-size: 38rem;
}

.intro-div {
  position: absolute;
  background-color: rgba(249, 249, 249, 0.93);
  width: 50rem;
  text-align: justify;
  margin-right: auto;
  margin-left: 48rem;
  padding: 0.8rem 2.5rem;
  opacity: 1;
  top: 30%;
}

.intro-background-div {
  height: 100vh;
  background-color: rgb(23, 23, 23);
  animation: background-colour-change 5s infinite;
  -webkit-animation: background-colour-change 5s infinite;
}

.light {
  font-family: "Roboto", "Serif";
  font-weight: 300;
}

.regular {
  font-family: "Roboto", "Serif";
  font-weight: 400;
}

.intro-header1 {
  font-size: 3.8rem;
}

.intro-paragraph {
  font-size: 2rem;
}

.scroll-div {
  text-align: center;
  opacity: 1;
  animation: scroll-pulse 3s ease-in-out infinite;
  -webkit-animation: scroll-pulse 3s ease-in-out infinite;
}

.scroll-indicator {
  opacity: 1;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.41);
}

@keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes scroll-pulse {
  0% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
  }
}

.select-background-div {
  height: 100%;
  background-color: hsl(0, 8%, 85%);
}

@keyframes background-colour-change {
  0% {
    background-color: hsl(0, 8%, 85%);
  }
  50% {
    background-color: hsl(170, 8%, 85%);
  }
  100% {
    background-color: hsl(350, 8%, 85%);
  }
}

@-webkit-keyframes background-colour-change {
  0% {
    background-color: hsl(0, 8%, 85%);
  }
  50% {
    background-color: hsl(170, 8%, 85%);
  }
  100% {
    background-color: hsl(350, 8%, 85%);
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animated-delay {
  animation-delay: 0.4s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.grow-container {
  opacity: 0;
  display: table;
  width: 92%;
  height: 95%;
  padding-top: 0.6rem;
  margin-left: auto;
  margin-right: auto;
}
.grow {
  display: table-cell;
  height: 100%;
  width: 25%;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  transition: width 500ms;
}
.grow-container:hover .grow {
  width: 20%;
}
.grow-container:hover .grow:hover {
  width: 40%;
}

.coding-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/coding-landing.png");
  background-repeat: no-repeat;
  background-size: 68rem;
  background-position: -7rem -7rem;
}

.cooking-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/food-landing.jpg");
  background-repeat: no-repeat;
  background-size: 80rem;
  background-position: -7rem -7rem;
}

.lifestyle-section {
  padding-top: 22rem;
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 76);
  color: white;
  background-image: url("../images/lifestyle-landing.jpg");
  background-repeat: no-repeat;
  background-size: 90rem;
  background-position: -21rem -12rem;
}
